<div id="template_custom_restrictions_context"><!--
<button id="custom-restriction-mini-tree-loader" class="btn btn-info context-button" aria-controls="custom-restrictions-mini-tree" aria-expanded="false">
  <%= I18n.t("custom_restrictions_and_context.mini_tree_action") %>
</button>
--></div>
