/* override core */
.record-pane .h2,
.record-pane h2 {
  display: flex;
  gap: 0.5rem;
  align-items: flex-start;
}
#custom-restriction {
  display: inline-grid;
  grid-template-columns: min-content fit-content(100%);
  gap: 0.1rem;
  max-width: 400px;
  align-items: center;
  white-space: wrap;
  text-align: left;
}
#custom-restriction::before {
  margin-right: 4px;
  content: "\e002";
  vertical-align: text-bottom;
  font-family: "Material Symbols Outlined";
  font-variation-settings: "FILL" 1;
}
#custom-restriction-mini-tree-loader {
  margin-left: 0;
  border: none;
}
#custom-restriction-mini-tree-loader[aria-expanded="true"] {
  border-radius: 4px 4px 0 0;
}
#custom-restriction-mini-tree-loader::after {
  content: "\e5cf";
  vertical-align: text-bottom;
  font-family: "Material Symbols Outlined";
  font-variation-settings: "FILL" 1;
}
#custom-restriction-mini-tree-loader[aria-expanded="true"]::after {
  content: "\e5ce";
}
#custom-restrictions-mini-tree {
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0 4px 4px 4px;
}
span[class*="mini-tree-level-"] {
  display: block;
}
span[class*="mini-tree-level-"]::before {
  padding-bottom: 2px;
  content: "\e5da";
  vertical-align: middle;
  font-size: 1.35rem;
  font-family: "Material Symbols Outlined";
  font-variation-settings: "FILL" 1;
}
span.mini-tree-level-0::before {
  content: "\e8de";
}
.mini-tree-level-1 {
  margin-left: 1.25rem;
}
.mini-tree-level-2 {
  margin-left: 2.5rem;
}
.mini-tree-level-3 {
  margin-left: 3.75rem;
}
.mini-tree-level-4 {
  margin-left: 5rem;
}
.mini-tree-level-5 {
  margin-left: 6.25rem;
}
.mini-tree-leveltype {
  font-weight: 200;
}
#mini-tree-locations-and-indicators {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #ccc;
}
#mini-tree-locations-and-indicators.no-context-tree {
  margin-top: 0;
  padding-top: 0;
  border: none;
}
.mini-tree-location {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 1rem;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ccc;
}
.mini-tree-location:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0;
  border: none;
}
.mini-tree-location::before {
  content: "\e0c8";
  font-family: "Material Symbols Outlined";
  font-variation-settings: "FILL" 1;
  font-size: 2rem;
  color: #666;
}

/* Search */

/* don't display the context */
#tabledSearchResults #mini-tree-context {
  display: none;
}

#tabledSearchResults #mini-tree-locations-and-indicators {
  margin-top: 0;
  padding: 4px;
  border: none;
}

#tabledSearchResults #custom-restrictions-mini-tree {
  margin-top: 1rem;
  padding: 0;
  border: none;
  font-size: 1.4rem;
}

/* Trees */
.custom-restriction-visual-identifier::before {
  content: "\e002";
  vertical-align: bottom;
  color: #a72925;
  font-family: "Material Symbols Outlined";
  font-variation-settings: "FILL" 1;
}

.custom-restrictions-visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0,0,0,0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
